body {
    margin-top: 20px;
    padding-top: 20px;
    font-family: Lato, 'Helvetica Neue',Helvetica,Arial,,sans-serif;
}

#nav-container {
    background-color: #DF262B;
    height: 50px;
}

#nav-inner {
    font-family: Lato, 'Helvetica Neue',Helvetica,Arial,,sans-serif;
    height: 100px;
    margin-left: 0;
}

h1, h2, h3, h4, h5 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    font-family: Montserrat,"Helvetica Neue",Arial, Helvetica, sans-serif;
}

#nav-menu {
    margin-left: 0;
}

#nav-inner a {
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
}

#nav-menu li {
    display: inline-block;
    list-style: none;
    margin-top: 17px;
    margin-right: 20px;
}

    #nav-menu li a {
        letter-spacing: 1px;
    }

        #nav-menu li a:hover {
            color: #F5DEB3;
        }

.Clear {
    clear: both;
}

#header {
    height: 800px;
    background-color: #F5DEB3;
    width: 100% auto;
}

.container {
    width: 3000px
}

#content {
    background-color: aquamarine;
    padding-top: 50px;
    text-align: center;
    height: 800px;
}

    #content h2 {
        font-size: 30px;
    }

#about {
    background-color: cadetblue;
    height: 800px;
    padding-top: 40px;
}

    #about h2 {
        padding-left: 10px;
        text-align: center;
    }

#Contact {
    background-color: coral;
    height: 800px;
    padding: 50px 0;
}

    #Contact h2 {
        text-align: center;
    }

#form {
    padding-top: 50px;
    text-align: center;
    border: none;
}

input[type="text"], textarea {
    width: 200px;
    border: none;
    border-top: 1px solid #eee;
    padding: 6px 12px;
    height: 34px;
}

.form-group {
    margin-top: 15px;
}
